@tailwind base;
@tailwind components;
@tailwind utilities;


.card{
    border-radius: 0;
    color: white;
}
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
